<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new messsage</title>
</head>
<body>
    <h1>Create your messsage</h1>
    <form action="/new" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="message">Message:</label>
        <input type="text" name="message" id="message">
        <button type="submit">Send message</button>
    </form>
</body>
</html>

